.form {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 0 1280px rgba(0, 0, 0, 0.7);
}

.form__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 15px;
}

.form__title {
  width: 358px;
  margin: 0 auto;
  padding-top: 34px;
  font-size: 24px;
  font-weight: 900;
  background-color: #fff;
  line-height: 29px;
}

.form__form {
  background-color: #fff;
  width: 358px;
  border: none;
  margin: 0 auto;
}

.form__name {
  margin-top: 15px;
  width: 358px;
  height: 40px;
  border: 0;
  outline: 0;
  background-color: #fff;
  border-bottom: 1px solid #545454;
}

.form__about {
  height: 40px;
  width: 355px;
  margin-top: 30px;
  background-color: #fff;
  border: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #545454;
}

.form__button-form {
  width: 358px;
  height: 50px;
  margin-top: 48px;
  border: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #545454;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: 1s;
}

.form__button-form:hover {
  background-color: #545454;
}

.form__button {
  position: absolute;
  transform: translate(430px, -36px);
  border: none;
}

.form__button-close img {
  cursor: pointer;
  transition: 1s;
}

.form__button-close img:hover {
  background-color: #545454;
}

@media screen and (max-width: 768px) {
  .form {
    transform: translate(-50%, -50%);
    left: 49%;
    top: 20%;
  }
}

@media screen and (max-width: 420px) {
  .form {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form__button-close {
    transform: translate(270px, -40px);
    border: none;
  }

  .form__container {
    width: 282px;
    height: 322px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
  }

  .form__button-form {
    width: 80%;
    margin: 0 21px;
    border: 0;
    margin-top: 30px;
    color: #fff;
    border: none;
    outline: 0;
    border-bottom: 1px solid #545454;
    background-color: #000;
  }

  .form__form {
    padding: 0;
    width: 238px;
    margin: 0 auto;
  }

  .form__title {
    width: 238px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 21px;
  }

  .form__name {
    width: 238px;
    margin: 20px 21px;
    font-size: 14px;
    line-height: 18px;
  }

  .form__about {
    width: 238px;
    margin: 0 auto;
    margin: 0 21px;
    font-size: 14px;
    line-height: 18px;
  }
}