.popup {
  top: 30%;
  left: 50%;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1280px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 15px;
}

.popup__title {
  width: 358px;
  padding-top: 34px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0 auto;
  background-color: #fff;
}

.popup__form {
  width: 358px;
  border: none;
  margin: 0 auto;
  background-color: #fff;
}

.popup__name {
  width: 358px;
  height: 40px;
  margin-top: 15px;
  border-bottom: 1px solid #545454;
  background-color: #fff;
  border: 0;
  outline: 0;
}

.popup__about {
  width: 358px;
  height: 40px;
  margin-top: 30px;
  border: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #545454;
  background-color: #fff;
}

.popup__button-form {
  width: 358px;
  height: 50px;
  color: #fff;
  margin-top: 48px;
  border: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #545454;
  background-color: #000;
  cursor: pointer;
  transition: 1s;
}

.popup__button-close-img {
  cursor: pointer;
  transition: 1s;
}

.popup__button-close {
  position: absolute;
  transform: translate(430px, -36px);
  border: none;
}

.popup__button-close-img:hover {
  background-color: #545454;
}

.popup__button-form:hover {
  background-color: #545454;
}

@media screen and (max-width: 768px) {
  .popup {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 420px) {
  .popup {
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup__button-close {
    border: none;
    transform: translate(270px, -40px);
  }

  .popup__container {
    width: 282px;
    height: 322px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
  }

  .popup__button-form {
    margin: 0 21px;
    margin-top: 30px;
    width: 80%;
    color: #fff;
    border: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #545454;
    background-color: #000;
  }

  .popup__form {
    padding: 0;
    width: 238px;
    margin: 0 auto;
  }

  .popup__title {
    width: 238px;
    font-size: 18px;
    margin: 0 auto;
    line-height: 21px;
  }

  .popup__name {
    width: 238px;
    margin: 20px 21px;
    font-size: 14px;
    line-height: 18px;
  }

  .popup__about {
    width: 238px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    margin: 0 21px;
  }
}