.elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.elements__container {
    width: 282px;
    height: 361px;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #fff;
}

.elements__img {
    width: 282PX;
    height: 282PX;
    object-fit: cover;
}

.elements__description {
    background-color: #fff;
    display: flex;
}

.elements__name {
    font-weight: 900;
    flex-basis: 85%;
    font-size: 24px;
    line-height: 29.05px;
    padding: 20px 0 20px 20px;
    color: #000000;
    background-color: #fff;
    overflow: hidden;
}

.elements__button {
    background-color: #fff;
    border: none;
}

.elements__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 1s;
    background-color: #fff;
}
